/*
Theme Name: Vefaukinn 2016
Theme URI:
Description: test
Author URI: http://www.johannesg.com
Version: 1.0
Tags: responsive, white, bootstrap

License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)
License URI: http://creativecommons.org/licenses/by-sa/3.0/
*/

@import url('bootstrap/css/bootstrap.css');
@import url('bootstrap/css/bootstrap-responsive.css');

body {
    font-size: 20px;
}

h3 {
    display: inline;
    font-size: 1.2em;
}

.post {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.author a {
    text-decoration: none;
    color: #fff;
}
